NODE_ENV=
PORT=

DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

TEST_DB_HOST=
TEST_DB_PORT=
TEST_DB_USERNAME=
TEST_DB_PASSWORD=
TEST_DB_DATABASE=

BACKEND_URL=
LOCAL_BACKEND_PATH=

JWT_SECRET=
JWT_EXPIRES_IN=

BOT_USERNAME=
BOT_TOKEN=